---
- name: Envoyer une notification Microsoft Teams
  uri:
    url: "{{ teams_webhook_url }}"
    method: POST
    body: |
      {
        "@type": "MessageCard",
        "@context": "http://schema.org/extensions",
        "themeColor": "{{ teams_color }}",
        "title": "{{ teams_title }}",
        "text": "Mise à jour Oracle Linux terminée sur {{ ansible_hostname }}.\n\n- Paquets mis à jour : {{ yum_update_result.changed }}\n- Redémarrage requis : {{ reboot_required }}\n- Snapshot LVM : {{ snapshot_name }}\n- Rapport sauvegardé sur NFS : {{ nfs_mount_path }}\n\nDate : {{ ansible_date_time.iso8601 }}",
        "potentialAction": [
          {
            "@type": "OpenUri",
            "name": "Voir le rapport",
            "targets": [
              {
                "os": "default",
                "uri": "file://{{ nfs_mount_path }}/update_report_{{ ansible_date_time.iso8601_basic_short }}.txt"
              }
            ]
          }
        ]
      }
    body_format: json
    status_code: 200
  register: teams_result
  failed_when: teams_result.status != 200
